# Django #
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
project/local_settings.py

# Virtualenv #
venv/
ENV/
env/
.venv/
.ENV/
.env/
.Python

# Django stuff:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build
eggs
parts
var
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django static files
staticfiles/
static/

# Django media files
media/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env
.env.*

# mypy
.mypy_cache/
.dmypy.json
dmypy.json